.container{
    margin-bottom:100px;
}
.carousel {
    background-color: #fceae8;
    border-radius:10px;
}
.carousel-control-prev, .carousel-control-next {
    border:none;
    background-color: transparent;
}
.button{
    background-color: #ff4b93;
    color:#ffffff;
    padding:10px 30px;
    border-radius:10px;
    border:0;
    outline:0;
}
.slide-content{
    padding-left:60px;
}
.cat1,.cat2,.cat3{
    border-radius:10px;
    padding:10px 30px;
}
.cat1{
    background-color:orange;
}
.cat2{
    background-color:purple;
}
.cat3{
    background-color:blue;
}
.shoes{
    border-radius: 10px;
    border:none;
    box-shadow: 5px 5px 10px #dddddd;
}
.card-footer{
    background-color: #ffffff;
    border:none;
}
.card{
    padding:10px;
    border-radius: 10px;
    border:none;
    box-shadow: 5px 5px 10px #dddddd;
}
#subscribe{
    height:400px;
    background-color: #fceae8;
    border-radius: 10px;
}
footer{
    text-align: center;
}